<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ site.title }} - {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ site.basedir }}/css/style.css">
<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<meta property="fb:admins" content="1166983159">
<meta property="og:site_name" content="Takazudolog">
<meta property="og:title" content="Takazudolog">
<meta property="og:image" content="http://takazudo.github.com/blog/img/octocat.png">
<meta property="og:description" content="Takazudo's dev notes.">
<meta property="og:url" content="http://takazudo.github.com/blog/">
<meta property="og:type" content="{% if page.ogtype %}{{ page.ogtype }}{% else %}article{% endif %}">
<script src="{{ site.basedir }}/js/modernizr.min.js"></script>
<script>if(!Modernizr.mq()) Modernizr.load('/blog/js/respond.min.js');</script>
</head>
