<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ site.title }}{% unless page.toppage %} - {{ page.title }}{% endunless %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ site.basedir }}/css/style.min.css">
<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<meta property="fb:admins" content="1166983159">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ site.title }}{% unless page.toppage %} - {{ page.title }}{% endunless %}">
<meta property="og:image" content="http://takazudo.github.com/blog/img/octocat.png">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ page.content }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ site.basedir }}{% if page.toppage %}/{% else %}{{ page.url }}{% endif %}">
<meta property="og:type" content="{% if page.ogtype %}{{ page.ogtype }}{% else %}article{% endif %}">
<script src="{{ site.basedir }}/js/modernizr.min.js"></script>
<script>if(!Modernizr.mq()) Modernizr.load('/blog/js/respond.min.js');</script>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-183024-7']);
_gaq.push(['_trackPageview']);
(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</head>
