<nav class="mod-headnavbar"><div class="mod-headnavbar-inner">
	<ul class="mod-headnavbar-mainnav">
		<li><a href="{{ site.basedir }}/">Top</a></li>
		<li><a href="{{ site.basedir }}/archives.html">Archives</a></li>
		<li><a href="{{ site.basedir }}/about.html">About</a></li>
	</ul>
	<form class="mod-headnavbar-search" action="http://google.com/search" method="get">
		<fieldset role="search">
			<input type="hidden" name="q" value="site:Takazudo.github.com/blog" />
			<input class="mod-headnavbar-search-input" type="text" name="q" results="0" placeholder="Search"/>
		</fieldset>
	</form>
</div></nav>
