<!doctype html>
<html class="no-js" lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:og="http://ogp.me/ns#"
	xmlns:fb="http://www.facebook.com/2008/fbml">
{% include head.html %}
<body><div class="mod-all" id="top"><div class="mod-allinner">

	{% include header.html %}
	{% include headnavbar.html %}
	<div class="mod-body"><div class="mod-body-inner">
		<div class="mod-main"><div class="mod-main-inner">
			<div id="lazyjaxdavisroot">
				<!-- LazyJaxDavis start --><div>
					{{ content }}
				</div><!-- LazyJaxDavis end -->
			</div>
		</div></div>
		{% include side.html %}
	</div></div>
	{% include footer.html %}

	<div id="fb-root"></div>

</div></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ site.basedir }}/js/all.js"></script>
</body>
</html>
